/docker/*
/docker/
/docker_postgredb/pg_data/
/docker_postgredb/pg_data/*
/embedding/__pycache__/*
/embedding/__pycache__/
/ollama_run/__pycache__/
/ollama_run/__pycache__/*

/postgresql_islem/__pycache__/
/postgresql_islem/__pycache__/*

/search_core/__pycache__/
/search_core/__pycache__/*

/search_web/__pycache__/
/search_web/__pycache__/*

/web_crawler/__pycache__/
/web_crawler/__pycache__/*





/nest_api/dist/
/nest_api/node_modules/
/nest_api/build/

/python_api/__pycache__/
/python_api/__pycache__/*

/vite_frontend/node_modules/
/vite_frontend/dist/
/vite_frontend/build/


**/node_modules/
**/dist/
**/build/
**/__pycache__/
**/venv/
**/env/
**/pg_data/
**/qdrant_data/
**/web_veri/
**/pdf_veri/

/.vscode/
.idea/
.DS_Store
*.log
*.pyc
__pycache__/
*.db
*.sqlite
*.bak
*.backup
*.swp
*.swo
*.tmp
*.zip
*.tar.gz
*.egg-info/
*.egg
*.egg-info/
*.egg-info/*
*.egg-info/*.egg
*.egg-info/*.egg-info
*.egg-info/*.egg-info/*