/docker/*
/docker/
/docker_postgredb/pg_data/
/docker_postgredb/pg_data/*
/embedding/__pycache__/*
/embedding/__pycache__/
/ollama_run/__pycache__/
/ollama_run/__pycache__/*

/postgresql_islem/__pycache__/
/postgresql_islem/__pycache__/*

/search_core/__pycache__/
/search_core/__pycache__/*

/search_web/__pycache__/
/search_web/__pycache__/*

/web_crawler/__pycache__/
/web_crawler/__pycache__/*